<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container bg-dark">
  <a class="navbar-brand" href="#">AssessmentUI</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item active" *ngIf="isHomePage()">
        <a class="nav-link" routerLink="Login">Login</a>
      </li>
      <li class="nav-item right" *ngIf="isPolicyInsuredDetailsPage()">
        <a class="btn btn-outline-danger" (click)="logout()">Logout</a>
      </li> 
    </ul>
  </div>
</div>
</nav>
<router-outlet></router-outlet>
